@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: black;
}

/* header start */
.upr {
    height: 85vh;
    background-image: url(assets/1.jpg);
    background-position: center center;
    height: 90vh;
    position: relative;


}

.upr .box {
    height: 90vh;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.65;
    background-color: black;
}


nav {
    width: 75vw;

    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-position: center center; */
    font-family: "Poppins", sans-serif;
}

/* nav button */
nav img {
    position: relative;
    z-index: 1;
}

nav button {
    margin: 10px;
}

nav button:nth-child(2) {
    background-color: transparent;
    border-radius: 7px;
    padding: 8px 24px 8px 24px;
    cursor: pointer;
    color: whitesmoke;
    font-size: 20px;
    position: relative;
    z-index: 1;
    background-color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav button:first-child {
    line-height: 20px;

    background-color: transparent;
    border-radius: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px 27px 8px 24px;
    color: whitesmoke;
    font-size: 20px;
    border-color: white;
    position: relative;
    z-index: 1;

}

.footer1 button {
    line-height: 20px;
    background-color: transparent;
    border-radius: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px 27px 8px 24px;
    color: whitesmoke;
    font-size: 20px;
    border-color: white;
    position: relative;
    z-index: 1;
}

nav button img:first-child {
    padding-right: 7px;
    width: 20px;
}

nav .e img {
    background-color: transparent;
    border-radius: 20px;
    padding: 5px;
    color: whitesmoke;
    border-color: black;
    position: relative;
    z-index: 1;
}



.head1 {
    width: 80vw;
    display: flex;
    flex-direction: column;
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    position: relative;
    gap: 10px;
}

.head1 :first-child {
    font-size: 48px;
    font-weight: bolder;
    font-weight: 900;

}

.head1 :nth-child(2) {
    font-size: 24px;
}

.butn {

    font-family: "Martel Sans", sans-serif;
}

.butn button {
    cursor: pointer;
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    color: white;
    font-size: 30px;
    background-color: rgb(229, 9, 20);
    position: relative;
    z-index: 1;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

.butn input {
    color: rgb(5, 5, 5);
    position: relative;
    border-radius: 7px;
    padding: 12px 154px 5px 14px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid gray;

}

.sepration {
    width: auto;
    height: 9px;
    background-color: #80808052;
}

/* second page start */
.head2 {
    height: 80vh;
    max-width: 64vw;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    margin: auto;
    font-family: "Poppins", sans-serif;
    align-items: center;

}

.head2 h1 {
    color: white;
    font-size: 48px;
    font-weight: bolder;
    font-weight: 900;

}

.head2 p {
    color: white;
    font-size: 24px;
    left: 64px;
}

.head4 {
    height: 80vh;
    max-width: 64vw;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    margin: auto;
    font-family: "Poppins", sans-serif;
    align-items: center;

}

.head4 h1 {
    color: white;
    font-weight: bolder;
    font-size: 48px;
    font-weight: 900;

}

.head4 p {
    color: white;
    font-size: 24px;
    left: 64px;
}

.head3 {
    height: 80vh;
    max-width: 64vw;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    margin: auto;
    font-family: "Poppins", sans-serif;
    align-items: center;

}

.head3 h1 {
    color: white;
    font-size: 48px;
    font-weight: bolder;
    font-weight: 900;


}

.head3 p {
    color: white;
    font-size: 24px;
    left: 64px;
}

.head5 {
    height: 80vh;
    max-width: 64vw;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    margin: auto;
    font-family: "Poppins", sans-serif;
    align-items: center;

}

.head5 h1 {
    color: white;
    font-size: 48px;
    font-weight: bolder;
    font-weight: 900;

}

.head5 p {
    color: white;
    font-size: 24px;
    left: 64px;
}

.img2 {
    position: relative;
}

.img2 img {
    position: relative;
    z-index: 10;
    max-width: 605px;

}

.img2 video {
    top: 76px;
    width: 524px;
    position: absolute;
    right: 0;
}

.head4 video {
    right: 119px;
    top: 34px;
    width: 368px;
    position: absolute;
}

/* faq questions */
.faq {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    width: auto;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.faq h1 {
    font-weight: bolder;
    text-align: center;
    font-size: 50px;
    margin: 60px 0px 0px 0px;

}

.faq1 {
    display: flex;
    justify-content: space-between;
    background-color: #8080805c;
    width: 65vw;
    /* height: 40px; */
    padding: 35px;
    margin: auto;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.faq1:hover {
    background-color: gray;
}

.faql {
    font-weight: bold;
    margin: 20px 0px 0px 0px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer1 {
    padding-top: 40px;
    font-size: 18px;
    margin: auto;
    width: 65vw;
    color: rgb(255 250 250 / 56%);
}

.footer1 a {
    color: rgb(255 250 250 / 56%);
}

.footer2 {
    font-size: 16px;
    line-height: 50px;
    margin: auto;
    width: 65vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    color: rgb(255 250 250 / 56%);
}

.footer2 a {
    color: rgb(255 250 250 / 56%);
}

@media screen and (max-width:1300px) {
    .upr {
        width: 179vw;
        height: 150vh;
    }

    nav {
        width: 154vw;
        padding: 35px;
    }

    .upr .box {
        height: 200vh;
    }
    .head1{
        text-align: center;
        width: 140vw;
        top: 14%;
        height: 57%;
    }
    
    
    .butn input {
                padding: 12px 0px 5px 14px;}
}